<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="super-admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">users-list</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-item-sliding>
        <ion-list [inset]="true">
          <ion-item [button]="true" *ngFor="let user of this.ListUser">
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>{{ user.name }} {{ user.surnames }}</ion-label>
          </ion-item>
      </ion-list>
      </ion-item-sliding>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form #registerUser="ngForm" (ngSubmit)="this.onSubmit(registerUser)">
              <ion-item>
                <ion-input type="text" #name="ngModel" name="name" [(ngModel)]="this.user.name" label="Nombre" labelPlacement="floating" [counter]="true" maxlength="20"></ion-input>
                <div slot="label" *ngIf="!this.name.valid && this.name.touched">
                  Ingrese su nombre
                </div>
              </ion-item>
              <ion-item>
                <ion-input type="text" label="Apellidos" #surnames="ngModel" name="surnames" [(ngModel)]="this.user.surnames" labelPlacement="floating" [counter]="true" maxlength="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="email" #email="ngModel" name="email" [(ngModel)]="this.user.email" label="Correo" labelPlacement="floating" [counter]="true" maxlength="20"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" #password="ngModel" name="password" [(ngModel)]="this.user.password" label="Contraseña" labelPlacement="floating" [counter]="true" maxlength="20"></ion-input>
                <div slot="label" *ngIf="!this.password.valid && this.password.touched">
                  <ion-text color="danger">
                    Ingrese su contraseña
                  </ion-text>
              </div>
              </ion-item>
              <ion-item>
                <ion-textarea #description="ngModel" name="description" [(ngModel)]="this.user.description" label="Descripcion" labelPlacement="floating" [counter]="true" maxlength="20"></ion-textarea>
              </ion-item>
              <div class="ion-text-center">
                <ion-button type="submit" fill="outline" [disabled]="this.registerUser.invalid">Registrar</ion-button>
              </div>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-fab-button>
  </ion-fab>
</ion-content>
