<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      {{ this.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <ion-button (click)="toLogin()">Login</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <p>
      <ion-text [ngStyle]="{'font-size':'11px'}">&copy; {{ this.text }} {{ this.reserved }}</ion-text>
    </p>
  </ion-toolbar>
</ion-footer>

